:root {
  --main-text-color: #7A417C;
  --main-border-color: #F8EEE7;
  --link-main-color: #94618E;
  --link-visited-color: #94618E;
  --link-hover-color: #94618E;
  --table-even-color: #E9DFE8;
  --table-odd-color: white;
  --table-border-color: #CB94C4;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 5px 0 50px;
  display: grid;
  position: relative;
  grid-template-rows: min-content;
  gap: 10px;
  font-family: "Helvetica Neue", Arial,sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: var(--main-text-color);
}

header {
  height: min-content;
  position: relative;
}

.time {
  position: absolute;
  right: 0;
  top: 20px;
  border: 1px solid var(--table-border-color);
  color: var(--link-main-color);
  padding: 5px;
  border-radius: 5px;
}

.time p {
  font-size: .8em;
  line-height: 1;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  line-height: 1.1;
}

h1 {
  font-size: 1.6em;
  padding: 10px 0;
}

main {
  display: grid;
  height: fit-content;
}

#target img {
  max-width: 300px;
  max-height: 300px;
  display: block;
}

#target a img {
  display: inline;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 3em;
}

.logo a {
  color: var(--main-text-color);
}

.logo a, .logo a:visited, .logo a:hover {
  color: var(--main-text-color);
  text-decoration: none;
}

.logo img {
  width: 100px;
}

a {
  color: var(--link-main-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

img.external-link {
  height: 1em;
  padding-left: 5px;
  vertical-align: middle;
  display: inline-block;
  content: url('/static/images/local-link-icon.png');
}

th {
  font-weight: 500;
}

th, td {
  text-align: left;
  padding: 10px;
}

table {
  width: 100%;
  border: 1px solid var(--table-border-color);
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 30px;
  border-radius: 5px;
}

table a {
  word-break: break-all;
}

table a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

table tr {
  background-color: var(--table-odd-color);
}

table tr:nth-child(2n){
  background-color: var(--table-even-color);
}

td img {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

td {
  color: black;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  border: 1px solid var(--table-border-color);
  color: var(--link-main-color);
  padding: 5px;
  border-radius: 5px;
  height: 55px;
  line-height: 1.3;
}

footer a {
  text-decoration: underline;
}

b {
  font-weight: bold;
}